<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xingwei.checkupdate">

    <application>
        <activity
            android:name="com.xwdz.version.ui.DefaultProgressDialogActivity"
            android:theme="@style/Progress.theme">
        </activity>

    </application>

</manifest>
